In [1]:
import pandas as pd

#### Hipótesis GAMES:
 - Comparación de participación de hombres y mujeres en la competición
 - Comparación de participación de mujeres y hombre de rango (40-44) 
 - Comparación de estaturas entre hombres y mujeres
 - La participación de mujeres de EEUU es mayor que la de hombres de Islandia
 - La media de edad de las mujeres es mayor que la media de edad de los hombres

In [ ]:
#importo csv atletas games 2019

In [2]:
df_crossfit_games = pd.read_csv("../data/2019_games_athletes.csv",encoding = "ISO-8859-1")

FileNotFoundError: [Errno 2] No such file or directory: '../data/2019_games_athletes.csv'

In [3]:
df_crossfit_games.sample()

NameError: name 'df_crossfit_games' is not defined

In [4]:
df_crossfit_games.shape

NameError: name 'df_crossfit_games' is not defined

In [60]:
#borrar duplicados

In [6]:
df_crossfit_games.dropna(how="all", inplace=True)

In [7]:
df_crossfit_games.shape

(394, 18)

In [ ]:
#borrar columnas que no me aportan información

In [8]:
df_cross_games = df_crossfit_games.drop(["affiliateid","status","profilepics3key","bibid","firstname","lastname","countryoforigincode"], axis=1)

In [9]:
df_cross_games.head()

,height,countryoforiginname,weight,affiliatename,competitorid,gender,age,competitorname,overallrank,overallscore,division
0,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men
1,1.74,United States,86.2,Peak 360 CrossFit,2725,M,28,Noah Ohlsen,2,949.0,Men
2,1.55,Iceland,83.9,CrossFit Hengill,81616,M,26,BjÃ¶rgvin Karl GuÃ°mundsson,3,888.0,Men
3,1.80,United States,84.8,CrossFit Mentality,34796,M,31,Scott Panchik,4,795.0,Men
4,1.55,Australia,87.1,CrossFit Mode,16080,M,28,James Newbury,5,728.0,Men

In [10]:
df_cross_games.division.unique()

array(['Men', 'Women', 'Men (35-39)', 'Women (35-39)', 'Men (40-44)',
       'Women (40-44)', 'Men (45-49)', 'Women (45-49)', 'Men (50-54)',
       'Women (50-54)', 'Men (55-59)', 'Women (55-59)', 'Men (60+)',
       'Women (60+)'], dtype=object)

In [11]:
df_cross_games.isna().sum()

height                  0
countryoforiginname     0
weight                  0
affiliatename          37
competitorid            0
gender                  0
age                     0
competitorname          0
overallrank             0
overallscore            3
division                0
dtype: int64

In [ ]:
#sustituyo nan por unknown

In [12]:
df_cross_games.affiliatename.fillna("Unknown", inplace=True)

In [ ]:
#importo csv marcas de games 2019 (columna común "competitorid")

In [13]:
df_crossfit1 = pd.read_csv("../data/2019_games_scores.csv",encoding = "ISO-8859-1")

In [14]:
df_crossfit1.head()

,ordinal,breakdown,lane,rank,heat,points,scoredisplay,time,workoutrank,competitorid
0,1,100 pts,26,1,3,100,15:07.70,15:07.70,1,153604
1,2,100 pts,20,1,2,100,5:37.02,5:37.02,1,153604
2,3,68 pts,25,17,1,68,25:50.09,25:50.09,17,153604
3,4,40 pts,10,21,2,40,1:50.08,1:50.08,21,153604
4,5,96 pts,8,2,2,96,675 rep,675,2,153604

In [15]:
df_crossfit1.shape

(4213, 10)

 - **mejores a nivel mundial, a nivel europeo y a nivel españa. en cuánto fallan**
 - **la media del snatch de los 20 mejores atletas de españa es...**
 - **la media del snatch de los 20 mejores de EEUU**
 - crossfit.com cuando te registras pones tus marcas, y se te va posicionando a nivel nacional
 - Para participar en los games--> el mejor de mi pais en los open


CATEGORIAS--> cada categoría tiene unos pesos y unos tiempos límites diferentes, por eso solo ganan personas del rango hasta 35.

In [ ]:
#elimino filas enteras nan

In [16]:
df_crossfit1.dropna(how="all", inplace=True)

In [17]:
df_crossfit1.shape

(4213, 10)

In [ ]:
#elimino columnas que no me aportan valor o están repetidas

In [18]:
df_games_score= df_crossfit1.drop(["breakdown","lane","heat","time","workoutrank","scoredisplay"], axis=1)

In [19]:
df_games_score.head()

   ordinal rank  points  competitorid
0        1    1     100        153604
1        2    1     100        153604
2        3   17      68        153604
3        4   21      40        153604
4        5    2      96        153604

In [21]:
#compruebo si existen nan

In [20]:
df_games_score.isna().sum()

ordinal         0
rank            0
points          0
competitorid    0
dtype: int64

In [ ]:
#compruebo que los valores de "competitorid" coinciden en ambas tablas

In [74]:
2536 in df_crossfit1.values

True

In [ ]:
#uno ambas tablas

In [22]:
mergeado_games = df_cross_games.merge(df_games_score,left_on="competitorid", right_on="competitorid", suffixes=["_izq", "_dcha"] )

In [23]:
mergeado_games.head()

,height,countryoforiginname,weight,affiliatename,competitorid,gender,age,competitorname,overallrank,overallscore,division,ordinal,rank,points
0,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,1,1,100
1,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,2,1,100
2,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,3,17,68
3,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,4,21,40
4,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,5,2,96

In [24]:
#filtro un nuevo df solo con los valores de las mujeres

In [25]:
df_games_woman = mergeado_games[mergeado_games["gender"] == "F"]

In [26]:
df_games_woman.head()

,height,countryoforiginname,weight,affiliatename,competitorid,gender,age,competitorname,overallrank,overallscore,division,ordinal,rank,points
1728,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,Tia-Clair Toomey,1,1071.0,Women,1,1,100
1729,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,Tia-Clair Toomey,1,1071.0,Women,2,12,78
1730,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,Tia-Clair Toomey,1,1071.0,Women,3,2,98
1731,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,Tia-Clair Toomey,1,1071.0,Women,4,12,67
1732,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,Tia-Clair Toomey,1,1071.0,Women,5,4,88

In [27]:
df_games_woman.shape

(1572, 14)

In [33]:
df_games_woman.describe()

,height,weight,competitorid,age,overallscore,ordinal,points
count,1572.000000,1572.000000,1.572000e+03,1572.000000,1572.000000,1572.000000,1572.000000
mean,1.609695,64.422901,5.064481e+05,28.839695,115.442748,6.500000,9.620229
std,0.305396,5.880290,3.851883e+05,4.879947,219.863710,3.453151,24.769572
min,0.030000,52.200000,2.088000e+03,17.000000,-42.000000,1.000000,-42.000000
25%,1.620000,59.900000,2.276780e+05,26.000000,-17.000000,3.750000,0.000000
50%,1.680000,64.900000,4.445270e+05,28.000000,27.000000,6.500000,0.000000
75%,1.740000,68.900000,7.289840e+05,32.000000,167.000000,9.250000,0.000000
max,1.800000,79.800000,1.521928e+06,44.000000,1071.000000,12.000000,100.000000

In [28]:
len(df_games_woman.competitorname.unique())

131

In [29]:
#df con los valores de hombres

In [30]:
df_games_man = mergeado_games[mergeado_games["gender"] == "M"]

In [31]:
df_games_man.head()

,height,countryoforiginname,weight,affiliatename,competitorid,gender,age,competitorname,overallrank,overallscore,division,ordinal,rank,points
0,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,1,1,100
1,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,2,1,100
2,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,3,17,68
3,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,4,21,40
4,1.74,United States,88.5,CrossFit Mayhem,153604,M,29,Mathew Fraser,1,984.0,Men,5,2,96

In [34]:
df_games_man.describe()

,height,weight,competitorid,age,overallscore,ordinal,points
count,1728.000000,1728.000000,1.728000e+03,1728.000000,1704.000000,1728.000000,1728.000000
mean,1.694028,84.775694,4.576139e+05,28.229167,99.816901,6.500000,8.202546
std,0.254141,6.712022,3.884811e+05,3.773652,213.167988,3.453052,24.677551
min,0.030000,63.500000,1.690000e+03,19.000000,-63.000000,1.000000,-63.000000
25%,1.560000,81.600000,1.575658e+05,26.000000,-32.000000,3.750000,0.000000
50%,1.770000,86.200000,3.414470e+05,28.000000,17.000000,6.500000,0.000000
75%,1.800000,88.500000,6.790545e+05,30.000000,170.000000,9.250000,0.000000
max,1.890000,98.900000,1.697328e+06,46.000000,984.000000,12.000000,100.000000

In [ ]:
#quiero quedarme con el top5 de ambos df

In [161]:
rank = list(df_games_man.overallrank)

In [163]:
rank[0]

'1'

In [154]:
[int(x) for x in rank]

ValueError: invalid literal for int() with base 10: '134T'

In [146]:
df_games_man.shape

(1728, 16)

In [151]:
len(df_games_man.competitorname.unique())

144

In [101]:
type("overallrank")

str

In [123]:
def integer (x):
    return int(x)

In [124]:
df_games_woman["overallrank"] = df_games_woman["overallrank"].apply(integer)

TypeError: 'str' object is not callable

In [119]:
df_games_woman["overallrank"] = df_games_woman["overallrank"].astype(dtype='int64')

TypeError: 'str' object is not callable

In [127]:
import re

In [176]:
str=rank[1720]

In [177]:
str

'143T'

In [184]:
#x = re.findall('[0-9]+',str)

In [180]:
#str = '134T'
lista_num=[]
for i in range(len(rank)):
    x = re.findall('[0-9]+',rank[i])
    lista_num.append(x)

In [185]:
lista_num

[['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['4'],
 ['4'],
 ['4'],
 ['4'],
 ['4'],
 ['4'],
 ['4'],
 ['4'],
 ['4'],
 ['4'],
 ['4'],
 ['4'],
 ['5'],
 ['5'],
 ['5'],
 ['5'],
 ['5'],
 ['5'],
 ['5'],
 ['5'],
 ['5'],
 ['5'],
 ['5'],
 ['5'],
 ['6'],
 ['6'],
 ['6'],
 ['6'],
 ['6'],
 ['6'],
 ['6'],
 ['6'],
 ['6'],
 ['6'],
 ['6'],
 ['6'],
 ['7'],
 ['7'],
 ['7'],
 ['7'],
 ['7'],
 ['7'],
 ['7'],
 ['7'],
 ['7'],
 ['7'],
 ['7'],
 ['7'],
 ['8'],
 ['8'],
 ['8'],
 ['8'],
 ['8'],
 ['8'],
 ['8'],
 ['8'],
 ['8'],
 ['8'],
 ['8'],
 ['8'],
 ['9'],
 ['9'],
 ['9'],
 ['9'],
 ['9'],
 ['9'],
 ['9'],
 ['9'],
 ['9'],
 ['9'],
 ['9'],
 ['9'],
 ['10'],
 ['10'],
 ['10'],
 ['10'],
 ['10'],
 ['10'],
 ['10'],
 ['10'],
 ['10'],
 ['10'],
 ['10'],
 ['10'],
 ['11'],
 ['11'],
 ['11'],
 ['11'],
 ['11'],
 ['11'],
 ['11'],
 ['11'],
 ['11'],
 ['11'],
 ['11'],
 ['11'],
 ['12'],
 ['12'],
 ['12'],
 ['12'],
 ['12'],
 ['12'],
 ['12'],
 ['12'],
 ['12'],
 ['12'],
 ['12'],
 ['12'],
 ['13'],
 ['13'],
 ['13'],
 ['13'],
 ['13'],
 ['13'],
 ['13'],
 ['13'],
 ['13'],
 ['13'],
 ['13'],
 ['13'],
 ['14'],
 ['14'],
 ['14'],
 ['14'],
 ['14'],
 ['14'],
 ['14'],
 ['14'],
 ['14'],
 ['14'],
 ['14'],
 ['14'],
 ['15'],
 ['15'],
 ['15'],
 ['15'],
 ['15'],
 ['15'],
 ['15'],
 ['15'],
 ['15'],
 ['15'],
 ['15'],
 ['15'],
 ['16'],
 ['16'],
 ['16'],
 ['16'],
 ['16'],
 ['16'],
 ['16'],
 ['16'],
 ['16'],
 ['16'],
 ['16'],
 ['16'],
 ['17'],
 ['17'],
 ['17'],
 ['17'],
 ['17'],
 ['17'],
 ['17'],
 ['17'],
 ['17'],
 ['17'],
 ['17'],
 ['17'],
 ['18'],
 ['18'],
 ['18'],
 ['18'],
 ['18'],
 ['18'],
 ['18'],
 ['18'],
 ['18'],
 ['18'],
 ['18'],
 ['18'],
 ['19'],
 ['19'],
 ['19'],
 ['19'],
 ['19'],
 ['19'],
 ['19'],
 ['19'],
 ['19'],
 ['19'],
 ['19'],
 ['19'],
 ['20'],
 ['20'],
 ['20'],
 ['20'],
 ['20'],
 ['20'],
 ['20'],
 ['20'],
 ['20'],
 ['20'],
 ['20'],
 ['20'],
 ['21'],
 ['21'],
 ['21'],
 ['21'],
 ['21'],
 ['21'],
 ['21'],
 ['21'],
 ['21'],
 ['21'],
 ['21'],
 ['21'],
 ['22'],
 ['22'],
 ['22'],
 ['22'],
 ['22'],
 ['22'],
 ['22'],
 ['22'],
 ['22'],
 ['22'],
 ['22'],
 ['22'],
 ['23'],
 ['23'],
 ['23'],
 ['23'],
 ['23'],
 ['23'],
 ['23'],
 ['23'],
 ['23'],
 ['23'],
 ['23'],
 ['23'],
 ['24'],
 ['24'],
 ['24'],
 ['24'],
 ['24'],
 ['24'],
 ['24'],
 ['24'],
 ['24'],
 ['24'],
 ['24'],
 ['24'],
 ['25'],
 ['25'],
 ['25'],
 ['25'],
 ['25'],
 ['25'],
 ['25'],
 ['25'],
 ['25'],
 ['25'],
 ['25'],
 ['25'],
 ['26'],
 ['26'],
 ['26'],
 ['26'],
 ['26'],
 ['26'],
 ['26'],
 ['26'],
 ['26'],
 ['26'],
 ['26'],
 ['26'],
 ['27'],
 ['27'],
 ['27'],
 ['27'],
 ['27'],
 ['27'],
 ['27'],
 ['27'],
 ['27'],
 ['27'],
 ['27'],
 ['27'],
 ['28'],
 ['28'],
 ['28'],
 ['28'],
 ['28'],
 ['28'],
 ['28'],
 ['28'],
 ['28'],
 ['28'],
 ['28'],
 ['28'],
 ['29'],
 ['29'],
 ['29'],
 ['29'],
 ['29'],
 ['29'],
 ['29'],
 ['29'],
 ['29'],
 ['29'],
 ['29'],
 ['29'],
 ['30'],
 ['30'],
 ['30'],
 ['30'],
 ['30'],
 ['30'],
 ['30'],
 ['30'],
 ['30'],
 ['30'],
 ['30'],
 ['30'],
 ['31'],
 ['31'],
 ['31'],
 ['31'],
 ['31'],
 ['31'],
 ['31'],
 ['31'],
 ['31'],
 ['31'],
 ['31'],
 ['31'],
 ['32'],
 ['32'],
 ['32'],
 ['32'],
 ['32'],
 ['32'],
 ['32'],
 ['32'],
 ['32'],
 ['32'],
 ['32'],
 ['32'],
 ['33'],
 ['33'],
 ['33'],
 ['33'],
 ['33'],
 ['33'],
 ['33'],
 ['33'],
 ['33'],
 ['33'],
 ['33'],
 ['33'],
 ['34'],
 ['34'],
 ['34'],
 ['34'],
 ['34'],
 ['34'],
 ['34'],
 ['34'],
 ['34'],
 ['34'],
 ['34'],
 ['34'],
 ['35'],
 ['35'],
 ['35'],
 ['35'],
 ['35'],
 ['35'],
 ['35'],
 ['35'],
 ['35'],
 ['35'],
 ['35'],
 ['35'],
 ['36'],
 ['36'],
 ['36'],
 ['36'],
 ['36'],
 ['36'],
 ['36'],
 ['36'],
 ['36'],
 ['36'],
 ['36'],
 ['36'],
 ['37'],
 ['37'],
 ['37'],
 ['37'],
 ['37'],
 ['37'],
 ['37'],
 ['37'],
 ['37'],
 ['37'],
 ['37'],
 ['37'],
 ['38'],
 ['38'],
 ['38'],
 ['38'],
 ['38'],
 ['38'],
 ['38'],
 ['38'],
 ['38'],
 ['38'],
 ['38'],
 ['38'],
 ['39'],
 ['39'],
 ['39'],
 ['39'],
 ['39'],
 ['39'],
 ['39'],
 ['39'],
 ['39'],
 ['39'],
 ['39'],
 ['39'],
 ['40'],
 ['40'],
 ['40'],
 ['40'],
 ['40'],
 ['40'],
 ['40'],
 ['40'],
 ['40'],
 ['40'],
 ['40'],
 ['40'],
 ['41'],
 ['41'],
 ['41'],
 ['41'],
 ['41'],
 ['41'],
 ['41'],
 ['41'],
 ['41'],
 ['41'],
 ['41'],
 ['41'],
 ['42'],
 ['42'],
 ['42'],
 ['42'],
 ['42'],
 ['42'],
 ['42'],
 ['42'],
 ['42'],
 ['42'],
 ['42'],
 ['42'],
 ['43'],
 ['43'],
 ['43'],
 ['43'],
 ['43'],
 ['43'],
 ['43'],
 ['43'],
 ['43'],
 ['43'],
 ['43'],
 ['43'],
 ['44'],
 ['44'],
 ['44'],
 ['44'],
 ['44'],
 ['44'],
 ['44'],
 ['44'],
 ['44'],
 ['44'],
 ['44'],
 ['44'],
 ['45'],
 ['45'],
 ['45'],
 ['45'],
 ['45'],
 ['45'],
 ['45'],
 ['45'],
 ['45'],
 ['45'],
 ['45'],
 ['45'],
 ['46'],
 ['46'],
 ['46'],
 ['46'],
 ['46'],
 ['46'],
 ['46'],
 ['46'],
 ['46'],
 ['46'],
 ['46'],
 ['46'],
 ['47'],
 ['47'],
 ['47'],
 ['47'],
 ['47'],
 ['47'],
 ['47'],
 ['47'],
 ['47'],
 ['47'],
 ['47'],
 ['47'],
 ['48'],
 ['48'],
 ['48'],
 ['48'],
 ['48'],
 ['48'],
 ['48'],
 ['48'],
 ['48'],
 ['48'],
 ['48'],
 ['48'],
 ['49'],
 ['49'],
 ['49'],
 ['49'],
 ['49'],
 ['49'],
 ['49'],
 ['49'],
 ['49'],
 ['49'],
 ['49'],
 ['49'],
 ['50'],
 ['50'],
 ['50'],
 ['50'],
 ['50'],
 ['50'],
 ['50'],
 ['50'],
 ['50'],
 ['50'],
 ['50'],
 ['50'],
 ['51'],
 ['51'],
 ['51'],
 ['51'],
 ['51'],
 ['51'],
 ['51'],
 ['51'],
 ['51'],
 ['51'],
 ['51'],
 ['51'],
 ['52'],
 ['52'],
 ['52'],
 ['52'],
 ['52'],
 ['52'],
 ['52'],
 ['52'],
 ['52'],
 ['52'],
 ['52'],
 ['52'],
 ['53'],
 ['53'],
 ['53'],
 ['53'],
 ['53'],
 ['53'],
 ['53'],
 ['53'],
 ['53'],
 ['53'],
 ['53'],
 ['53'],
 ['54'],
 ['54'],
 ['54'],
 ['54'],
 ['54'],
 ['54'],
 ['54'],
 ['54'],
 ['54'],
 ['54'],
 ['54'],
 ['54'],
 ['55'],
 ['55'],
 ['55'],
 ['55'],
 ['55'],
 ['55'],
 ['55'],
 ['55'],
 ['55'],
 ['55'],
 ['55'],
 ['55'],
 ['56'],
 ['56'],
 ['56'],
 ['56'],
 ['56'],
 ['56'],
 ['56'],
 ['56'],
 ['56'],
 ['56'],
 ['56'],
 ['56'],
 ['57'],
 ['57'],
 ['57'],
 ['57'],
 ['57'],
 ['57'],
 ['57'],
 ['57'],
 ['57'],
 ['57'],
 ['57'],
 ['57'],
 ['58'],
 ['58'],
 ['58'],
 ['58'],
 ['58'],
 ['58'],
 ['58'],
 ['58'],
 ['58'],
 ['58'],
 ['58'],
 ['58'],
 ['59'],
 ['59'],
 ['59'],
 ['59'],
 ['59'],
 ['59'],
 ['59'],
 ['59'],
 ['59'],
 ['59'],
 ['59'],
 ['59'],
 ['60'],
 ['60'],
 ['60'],
 ['60'],
 ['60'],
 ['60'],
 ['60'],
 ['60'],
 ['60'],
 ['60'],
 ['60'],
 ['60'],
 ['61'],
 ['61'],
 ['61'],
 ['61'],
 ['61'],
 ['61'],
 ['61'],
 ['61'],
 ['61'],
 ['61'],
 ['61'],
 ['61'],
 ['62'],
 ['62'],
 ['62'],
 ['62'],
 ['62'],
 ['62'],
 ['62'],
 ['62'],
 ['62'],
 ['62'],
 ['62'],
 ['62'],
 ['63'],
 ['63'],
 ['63'],
 ['63'],
 ['63'],
 ['63'],
 ['63'],
 ['63'],
 ['63'],
 ['63'],
 ['63'],
 ['63'],
 ['64'],
 ['64'],
 ['64'],
 ['64'],
 ['64'],
 ['64'],
 ['64'],
 ['64'],
 ['64'],
 ['64'],
 ['64'],
 ['64'],
 ['65'],
 ['65'],
 ['65'],
 ['65'],
 ['65'],
 ['65'],
 ['65'],
 ['65'],
 ['65'],
 ['65'],
 ['65'],
 ['65'],
 ['66'],
 ['66'],
 ['66'],
 ['66'],
 ['66'],
 ['66'],
 ['66'],
 ['66'],
 ['66'],
 ['66'],
 ['66'],
 ['66'],
 ['67'],
 ['67'],
 ['67'],
 ['67'],
 ['67'],
 ['67'],
 ['67'],
 ['67'],
 ['67'],
 ['67'],
 ['67'],
 ['67'],
 ['68'],
 ['68'],
 ['68'],
 ['68'],
 ['68'],
 ['68'],
 ['68'],
 ['68'],
 ['68'],
 ['68'],
 ['68'],
 ['68'],
 ['69'],
 ['69'],
 ['69'],
 ['69'],
 ['69'],
 ['69'],
 ['69'],
 ['69'],
 ['69'],
 ['69'],
 ['69'],
 ['69'],
 ['70'],
 ['70'],
 ['70'],
 ['70'],
 ['70'],
 ['70'],
 ['70'],
 ['70'],
 ['70'],
 ['70'],
 ['70'],
 ['70'],
 ['71'],
 ['71'],
 ['71'],
 ['71'],
 ['71'],
 ['71'],
 ['71'],
 ['71'],
 ['71'],
 ['71'],
 ['71'],
 ['71'],
 ['72'],
 ['72'],
 ['72'],
 ['72'],
 ['72'],
 ['72'],
 ['72'],
 ['72'],
 ['72'],
 ['72'],
 ['72'],
 ['72'],
 ['73'],
 ['73'],
 ['73'],
 ['73'],
 ['73'],
 ['73'],
 ['73'],
 ['73'],
 ['73'],
 ['73'],
 ['73'],
 ['73'],
 ['74'],
 ['74'],
 ['74'],
 ['74'],
 ['74'],
 ['74'],
 ['74'],
 ['74'],
 ['74'],
 ['74'],
 ['74'],
 ['74'],
 ['75'],
 ['75'],
 ['75'],
 ['75'],
 ['75'],
 ['75'],
 ['75'],
 ['75'],
 ['75'],
 ['75'],
 ['75'],
 ['75'],
 ['76'],
 ['76'],
 ['76'],
 ['76'],
 ['76'],
 ['76'],
 ['76'],
 ['76'],
 ['76'],
 ['76'],
 ['76'],
 ['76'],
 ['77'],
 ['77'],
 ['77'],
 ['77'],
 ['77'],
 ['77'],
 ['77'],
 ['77'],
 ['77'],
 ['77'],
 ['77'],
 ['77'],
 ['78'],
 ['78'],
 ['78'],
 ['78'],
 ['78'],
 ['78'],
 ['78'],
 ['78'],
 ['78'],
 ['78'],
 ['78'],
 ['78'],
 ['79'],
 ['79'],
 ['79'],
 ['79'],
 ['79'],
 ['79'],
 ['79'],
 ['79'],
 ['79'],
 ['79'],
 ['79'],
 ['79'],
 ['80'],
 ['80'],
 ['80'],
 ['80'],
 ['80'],
 ['80'],
 ['80'],
 ['80'],
 ['80'],
 ['80'],
 ['80'],
 ['80'],
 ['81'],
 ['81'],
 ['81'],
 ['81'],
 ['81'],
 ['81'],
 ['81'],
 ['81'],
 ['81'],
 ['81'],
 ['81'],
 ['81'],
 ['82'],
 ['82'],
 ['82'],
 ['82'],
 ['82'],
 ['82'],
 ['82'],
 ['82'],
 ['82'],
 ['82'],
 ['82'],
 ['82'],
 ['83'],
 ['83'],
 ['83'],
 ['83'],
 ['83'],
 ['83'],
 ['83'],
 ['83'],
 ['83'],
 ['83'],
 ['83'],
 ['83'],
 ['84'],
 ['84'],
 ['84'],
 ['84'],
 ...]

In [187]:
try:
    resultado=[int(x) for x in lista_num]
except:
    print(x)

['143']

In [188]:
top10_games = df_games_woman.loc[(df_games_woman["overallrank"].re.search(".*[0-5].*",str(x)))]

AttributeError: 'Series' object has no attribute 're'

In [142]:
df_games_woman['top5'] = df_games_woman['overallrank'].str.extract(r'([5]{1})')

<ipython-input-142-79d255ad1a4e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_woman['top5'] = df_games_woman['overallrank'].str.extract(r'([5]{1})')

In [131]:
top5_games

,height,countryoforiginname,weight,affiliatename,competitorid,gender,age,countryoforigincode,competitorname,overallrank,overallscore,division,ordinal,rank,points,scoredisplay
1728,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,1,1,100,16:56.63
1729,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,2,12,78,6:59.75
1730,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,3,2,98,27:11.18
1731,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,4,12,67,1:47.66
1732,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,5,4,88,656 rep
1733,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,6,3,90,18 pt
1734,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,7,1,100,14:07.10
1735,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,8,1,100,265.0 lb
1736,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,9,1,100,25:12.25
1737,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,10,4,70,5:44.63
1738,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,11,3,80,3:14.03
1739,1.65,Australia,58.1,CrossFit Mayhem,163097,F,25,AU,Tia-Clair Toomey,1,1071.0,Women,12,1,100,8:25.09
1836,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,1,14,74,CAP+8
1837,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,2,21,60,7:28.44
1838,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,3,24,54,30:51.60
1839,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,4,8,79,1:45.23
1840,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,5,14,49,574 rep
1841,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,6,4,85,17 pt
1842,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,7,8,30,19:21.03
1843,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,8,7,40,215.0 lb
1844,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,9,9,20,32:42.99
1845,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,10,10,10,CAP
1846,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,11,4,70,3:16.45
1847,1.68,Iceland,59.0,CrossFit Zug,19501,F,27,IS,Thuridur Erla Helgadottir,10,611.0,Women,12,7,40,10:35.00

### Hipótesis OPEN

In [35]:
df_crossfit_open = pd.read_csv("../data/2019_opens_athletes.csv",encoding = "ISO-8859-1")

/home/beatrizsp/anaconda3/envs/ironhack/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3417: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [36]:
df_crossfit_open.head()

,competitorid,competitorname,firstname,lastname,postcompstatus,gender,profilepics3key,countryoforigincode,countryoforiginname,divisionid,affiliateid,affiliatename,age,height,weight,overallrank,overallscore,is_scaled,division
0,2536,Samantha Briggs,Samantha,Briggs,accepted,F,0e63d-P2536_14-184.jpg,GB,United Kingdom,19,4098,CrossFit Black Five,37,1.70,61.23,1,33,0,Women (35-39)
1,485089,Renata Pimentel,Renata,Pimentel,accepted,F,04e97-P485089_5-184.jpg,BR,Brazil,19,15868,CrossFit Gurkha,36,1.74,73.00,2,66,0,Women (35-39)
2,16973,Carleen Mathews,Carleen,Mathews,NaN,F,b663a-P16973_6-184.jpg,US,United States,19,10471,CrossFit Saint Helens,35,1.57,62.14,3,101,0,Women (35-39)
3,751083,Danila Capaccetti,Danila,Capaccetti,NaN,F,pukie.png,IT,Italy,19,9329,CrossFit Black Shark,35,1.70,71.00,4,139,0,Women (35-39)
4,313257,Hope Cicero,Hope,Cicero,NaN,F,f204b-P313257_1-184.jpg,US,United States,19,438,CrossFit Billings,36,1.55,61.23,5,176,0,Women (35-39)

In [20]:
#df_cross_open = df_crossfit_open.drop(["firstname","lastname","profilepics3key","divisionid","affiliateid"], axis = 1)

In [37]:
def drop_df(df):
    df2 = df.drop(["firstname","lastname","profilepics3key","divisionid","affiliateid","postcompstatus","countryoforigincode"], axis=1)
    return df2

In [38]:
df_crossopen_19 = drop_df(df_crossfit_open)

In [40]:
df_crossopen_19.sample()

,competitorid,competitorname,gender,countryoforiginname,affiliatename,age,height,weight,overallrank,overallscore,is_scaled,division
187169,1602892,Tiffani L. Brown,F,United States,CrossFit West Des Moines,38,NaN,NaN,8873,51027,1,Women

In [42]:
df_crossopen_19.shape

(572653, 12)

In [ ]:
#borro las filas enteras de nan

In [43]:
df_crossopen_19.dropna(how="all", inplace=True)

In [45]:
df_crossopen_19.describe()

,competitorid,age,height,weight,overallrank,overallscore,is_scaled
count,5.726530e+05,572653.000000,304823.000000,323754.000000,572653.000000,572653.000000,572653.000000
mean,1.109414e+06,37.164978,1.743674,78.343412,56143.535611,269979.915326,0.115452
std,5.017513e+05,9.012462,1.439308,44.720039,55319.364617,245739.184643,0.319567
min,8.600000e+01,16.000000,0.010000,-9054.150000,1.000000,9.000000,0.000000
25%,7.389000e+05,31.000000,1.670000,67.000000,9055.000000,49581.000000,0.000000
50%,1.235059e+06,37.000000,1.750000,78.930000,31697.000000,175493.000000,0.000000
75%,1.588160e+06,43.000000,1.800000,88.450000,99381.000000,480742.000000,0.000000
max,1.715660e+06,125.000000,266.240000,16960.000000,185551.000000,792781.000000,1.000000

In [46]:
df_crossopen_19.division.unique()

array(['Women (35-39)', 'Women', 'Women (40-44)', 'Women (60+)',
       'Men (50-54)', 'Women (50-54)', 'Men', 'Women (55-59)',
       'Men (60+)', 'Men (55-59)', 'Men (45-49)', 'Men (40-44)',
       'Men (35-39)', 'Women (45-49)'], dtype=object)

In [47]:
df_crossfit_open_scores = pd.read_csv("../data/2019_opens_scores.csv",encoding = "ISO-8859-1")

In [48]:
df_crossfit_open_scores.head()

,affiliate,breakdown,competitorid,division,is_scaled,judge,ordinal,rank,scaled,score,scoredisplay,scoreidentifier,time
0,CrossFit RDU,9 rounds +\n10 wall-ball shots\n,96511,Men (45-49),0,Erin Miller,1,1,0,13520000,352 reps,27f30f9a8c0a564ae799,NaN
1,CrossFit RDU,Within 16 minutes:\n3 rounds +\n25 toes-to-bar...,96511,Men (45-49),0,Harper Thorsen,2,4,0,13420368,342 reps,0ed3d1264f25a8f1890d,NaN
2,CrossFit RDU,200-ft. OH lunge\n50 box step-ups\n50 strict H...,96511,Men (45-49),0,Harper Thorsen,3,1,0,11800018,9:42,f2a143399a330c95321b,582.0
3,CrossFit RDU,132 reps\n6 rounds,96511,Men (45-49),0,Harper Thorsen,4,36,0,11320009,11:51,89101e401c6c85997363,711.0
4,CrossFit RDU,210 reps,96511,Men (45-49),0,Harper Thorsen,5,1,0,12100573,10:27,f7588c9174f1fe90f5c4,627.0

In [49]:
df_crossfit_open_scores.isna().sum()

affiliate           604028
breakdown           535906
competitorid             0
division                 0
is_scaled                0
judge               604048
ordinal                  0
rank                     0
scaled                   0
score                    0
scoredisplay        533747
scoreidentifier     533747
time               2668444
dtype: int64

In [50]:
def drop_df2(df2):
    df3 = df2.drop(["breakdown","judge","scoredisplay","scoreidentifier","time","is_scaled"], axis=1)
    return df3

In [51]:
df_crossopen_19_scores = drop_df2(df_crossfit_open_scores)

In [53]:
df_crossopen_19_scores.sample()

,affiliate,competitorid,division,ordinal,rank,scaled,score
505071,CrossFit War Machine,1002618,Women,2,23199,0,11680757

In [ ]:
#sustituyo los valores nan por unknown

In [55]:
df_crossopen_19_scores.affiliate.fillna("Unknown", inplace=True)

In [56]:
df_crossopen_19_scores.scaled.unique()

array([0, 1])

In [76]:
mergeado_open_19 = df_crossopen_19.merge(df_crossopen_19_scores,left_on="competitorid", right_on="competitorid", suffixes=["_izq", "_dcha"] )

In [77]:
mergeado_open_19.head()

,competitorid,competitorname,gender,countryoforiginname,affiliatename,age,height,weight,overallrank,overallscore,is_scaled,division_izq,affiliate,division_dcha,ordinal,rank,scaled,score
0,2536,Samantha Briggs,F,United Kingdom,CrossFit Black Five,37,1.7,61.23,1,33,0,Women (35-39),Royal Docks CrossFit,Women,1,5,0,13550000
1,2536,Samantha Briggs,F,United Kingdom,CrossFit Black Five,37,1.7,61.23,1,33,0,Women (35-39),CrossFit Black Five,Women,2,160,0,14280325
2,2536,Samantha Briggs,F,United Kingdom,CrossFit Black Five,37,1.7,61.23,1,33,0,Women (35-39),CrossFit Berserk,Women,3,218,0,11710184
3,2536,Samantha Briggs,F,United Kingdom,CrossFit Black Five,37,1.7,61.23,1,33,0,Women (35-39),CrossFit Club La Santa,Women,4,9,0,11320172
4,2536,Samantha Briggs,F,United Kingdom,CrossFit Black Five,37,1.7,61.23,1,33,0,Women (35-39),CrossFit Club La Santa,Women,5,14,0,12100711

In [57]:
df_crossfit_open_20 = pd.read_csv("../data/2020_opens_athletes.csv",encoding = "ISO-8859-1")

/home/beatrizsp/anaconda3/envs/ironhack/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3417: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [58]:
df_crossfit_open_20.head()

,competitorid,competitorname,firstname,lastname,postcompstatus,gender,profilepics3key,countryoforigincode,countryoforiginname,divisionid,affiliateid,affiliatename,age,height,weight,overallrank,overallscore,is_scaled,division
0,9184,Janet Black,Janet,Black,NaN,F,2886e-P9184_12-184.jpg,US,United States,4,16766,CrossFit Trison,46,1.63,66.68,1,29,0,Women (45-49)
1,12348,Karen McCadam,Karen,McCadam,NaN,F,74335-P12348_6-184.jpg,US,United States,4,17779,CrossFit Viento,45,1.68,66.68,2,33,0,Women (45-49)
2,288661,Christine Tensley,Christine,Tensley,NaN,F,cb7b3-P288661_1-184.jpg,US,United States,4,1483,Flower City CrossFit,45,1.65,64.41,3,48,0,Women (45-49)
3,37629,Heather Wood,Heather,Wood,NaN,F,7b3f4-P37629_3-184.jpg,CA,Canada,4,3240,CrossFit Quispamsis,45,1.57,57.61,4,50,0,Women (45-49)
4,50423,Jennifer Dieter,Jennifer,Dieter,NaN,F,5ceb5-P50423_10-184.jpg,US,United States,4,9506,Crucible CrossFit,46,1.57,61.23,5,53,0,Women (45-49)

In [59]:
df_crossopen_20 = drop_df(df_crossfit_open_20)

In [63]:
df_crossopen_20.sample(10)

,competitorid,competitorname,gender,countryoforiginname,affiliatename,age,height,weight,overallrank,overallscore,is_scaled,division
42071,53888,Alexander Felagai,M,Australia,Wiser 1 CrossFit,40,NaN,114.76,12157,57707,0,Men (40-44)
95921,367663,Marli Ponce de Leon,F,United States,CrossFit RFG,33,NaN,NaN,9193,60235,0,Women
240442,1264853,Yan Fortin,M,Canada,Repaire CrossFit,29,1.88,97.52,41830,232641,0,Men
320246,1792693,Giorgio Pongenubi,M,Italy,MAS CrossFit,26,NaN,NaN,121634,529745,0,Men
389427,1774175,James Polzin,M,United States,NaN,45,NaN,NaN,9079,41080,0,Men (45-49)
286001,1827503,Emmanuel Checkouri,M,France,CrossFit Sainte-Marie,33,NaN,NaN,87389,414913,0,Men
77430,1766715,Paul Gatrell,M,Australia,Wiser 1 CrossFit,61,NaN,NaN,1174,5984,0,Men (60+)
144093,1589667,Joohi Vaya,F,India,CrossFit For Sure,31,NaN,NaN,57365,282517,0,Women
52632,448548,Marcella Wolfinger,F,Germany,CrossFit Pforzheim,52,1.61,56.00,1793,9549,0,Women (50-54)
9802,146200,Shauna Hefley,F,United States,IronHide CrossFit,39,1.60,63.05,953,6601,0,Women (35-39)

In [62]:
df_crossopen_20.isna().sum()

competitorid                0
competitorname              0
gender                      0
countryoforiginname         0
affiliatename           21994
age                         0
height                 181473
weight                 171993
overallrank                 0
overallscore                0
is_scaled                   0
division                    0
dtype: int64

In [ ]:
#los nan de los valores categóricos los sustituyo por unknown y los numéricos, al ser peso y altura, los sustituyo por la media

In [64]:
df_crossopen_20.affiliatename.fillna("Unknown", inplace=True)

In [65]:
df_crossopen_20.height.fillna(df_crossopen_20.height.mean(), inplace=True )

In [66]:
df_crossopen_20.weight.fillna(df_crossopen_20.weight.mean(), inplace=True )

In [67]:
df_crossopen_20.isna().sum()

competitorid           0
competitorname         0
gender                 0
countryoforiginname    0
affiliatename          0
age                    0
height                 0
weight                 0
overallrank            0
overallscore           0
is_scaled              0
division               0
dtype: int64

In [ ]:
#importo el csv de marcas de open 2020

In [68]:
df_crossfit_open_scores_20 = pd.read_csv("../data/2020_opens_scores.csv",encoding = "ISO-8859-1")

In [69]:
df_crossfit_open_scores_20.head()

,affiliate,breakdown,competitorid,division,is_scaled,judge,ordinal,rank,scaled,score,scoredisplay,scoreidentifier,time
0,CrossFit Sunninghill,10 rounds,120333,Men (35-39),0,Richard Smith,1,12,0,11800316,9:44,04faacabaa22dbaecf0d,584.0
1,CrossFit Sunninghill,27 rounds +\n3 thrusters\n,120333,Men (35-39),0,Richard Smith,2,2,0,1009210000,921 reps,29b2a385245a6cb5ae6f,NaN
2,CrossFit Sunninghill,165 reps,120333,Men (35-39),0,Richard Smith,3,9,0,1001650034,8:26,511ec1cf441b5ac48947,506.0
3,CrossFit Sunninghill,240 reps,120333,Men (35-39),0,Richard Smith,4,1,0,1002400162,17:18,3ba8f44249d3d8afe545,1038.0
4,CrossFit Sunninghill,240 reps,120333,Men (35-39),0,Richard Smith,5,1,0,1002400562,10:38,9de1c00eeda10ff3f39f,638.0

In [70]:
df_crossopen_20_scores = drop_df2(df_crossfit_open_scores_20)

In [72]:
df_crossopen_20_scores.sample()

,affiliate,competitorid,division,ordinal,rank,scaled,score
8873,CrossFit 325,172732,Men (35-39),4,2986,0,1001810361

In [73]:
mergeado_open_20 = df_crossopen_20.merge(df_crossopen_20_scores,left_on="competitorid", right_on="competitorid", suffixes=["_izq", "_dcha"] )

In [75]:
mergeado_open_20.head()

,competitorid,competitorname,gender,countryoforiginname,affiliatename,age,height,weight,overallrank,overallscore,is_scaled,division_izq,affiliate,division_dcha,ordinal,rank,scaled,score
0,9184,Janet Black,F,United States,CrossFit Trison,46,1.63,66.68,1,29,0,Women (45-49),CrossFit Trison,Women (45-49),1,4,0,11800237
1,9184,Janet Black,F,United States,CrossFit Trison,46,1.63,66.68,1,29,0,Women (45-49),CrossFit Trison,Women (45-49),2,3,0,1008170000
2,9184,Janet Black,F,United States,CrossFit Trison,46,1.63,66.68,1,29,0,Women (45-49),CrossFit Trison,Women (45-49),3,9,0,1001560005
3,9184,Janet Black,F,United States,CrossFit Trison,46,1.63,66.68,1,29,0,Women (45-49),CrossFit Trison,Women (45-49),4,8,0,1002350239
4,9184,Janet Black,F,United States,CrossFit Trison,46,1.63,66.68,1,29,0,Women (45-49),CrossFit Trison,Women (45-49),5,5,0,1002400158

In [46]:
df_crossfit_country = pd.read_csv("data/informations_country.csv",encoding = "ISO-8859-1")

In [51]:
df_crossfit_country.head(10) #censo de cada país y el recurso/medio de dónde se ha sacado esta info

         country  population                      source
0          China  1399450000   Official population clock
1          India  1353230000   Official population clock
2  United States   330025000   Official population clock
3      Indonesia   268074600  Official annual projection
4         Brazil   210537000   Official population clock
5       Pakistan   206261000   Official population clock
6        Nigeria   200963599               UN Projection
7     Bangladesh   167370000   Official population clock
8            NaN   146793744           Official estimate
9         Mexico   126577691  Official annual projection

#### MAPA UBICACIONES CROSSFIT

In [39]:
from geopy.geocoders import Nominatim

In [40]:
geolocator = Nominatim(user_agent="Bea")
location = geolocator.geocode(query="Calle Potosí, 19c, Málaga, España", exactly_one=True, limit=None, addressdetails=False, language=False, geometry=None, extratags=False, country_codes=None, viewbox=None, bounded=False, featuretype=None, namedetails=False)

In [41]:
location

Location(Calle Potosí, Benalmádena, Costa del Sol Occidental, Málaga, Andalucía, 29631, España, (36.6019983, -4.554452, 0.0))